{% if current_user.is_authenticated %}
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Hi {{current_user.id}} </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <nav class="nav flex-column">
    <a class="nav-link " aria-current="page" href="#"></a>
      <a class="nav-link" href={{url_for('register')}}>Workout Plans</a>
    <a class="nav-link" href={{url_for('login')}}>Nutrion Plans</a>
    <a class="nav-link" href={{url_for('profile')}}>Progress Tracking</a>
      <a class="nav-link " href={{url_for('profile')}}>User Profile</a>
      <ul>
        <li> <a href="{{url_for('info_update')}}">Update Info</a>
        <li> <a href="">Health Goals<a/>
        <li> <a href="">Dietary Preferences</a>
      </ul>


      <a class="nav-link" href="{{url_for('logout')}}">Logout</a>

</nav>
  </div>
</div>
{% else %}

<a href="{{url_for('register')}}">Register</a>
<a href="{{url_for('login')}}">Login</a>
{% endif %}